<div class="title-screen-container">
  <!-- Top section for settings and auth status -->
  <app-top-bar></app-top-bar>
  <div class="main-content">
    <img src="/title.png" alt="Dev's Journey Title" class="game-title-img">

    <div class="menu-buttons">
      <button pButton pRipple type="button" class="game-button-template"
        (click)="goToLevelSelect()">
        <div class="button-content"><span>Level Select</span></div>
      </button>
      <button pButton pRipple type="button" class="game-button-template"
        (click)="goToLeaderboard()">
        <div class="button-content"><span>Leaderboard</span></div>
      </button>
      <!-- Level Maker button is only visible if a user is logged in -->
      <button *ngIf="user$ | async" pButton pRipple type="button"
        class="game-button-template" [disabled]="isProduction" pTooltip="Coming Soon!"
        tooltipPosition="bottom" (click)="!isProduction && goToDevUploader()">
        <div class="button-content"><span>Level Maker</span></div>
      </button>
    </div>

    <!-- A simple footer for version or credits -->
    <div class="footer">
      <p>Version 1.1.0</p>
    </div>
</div>
<div></div>
