<div class="level-select-container">
  <div class="header">
    <button class="back-button" (click)="backToTitle()"></button>
    <h1 class="title-text">SELECT LEVEL</h1>
    <div class="placeholder"></div>
  </div>

  <div class="main-content">
    <button class="arrow-button left" (click)="previousPage()"
      [disabled]="currentPage <= 1"></button>

    <!-- The Level Grid -->
    <div class="level-grid"
      [style.grid-template-columns]="'repeat(' + (pageValueSubject.value) + ', 1fr)'"
      *ngIf="displayLevels$ | async as levels; else loading">

      <div *ngFor="let level of levels"
        class="level-card"
        [class.locked]="level && !level.isUnlocked"
        [class.placeholder]="!level"
        [pTooltip]="level?.name || ''"
        tooltipPosition="top"
        (click)="selectLevel(level)">

        <ng-container *ngIf="level; else placeholderCard">
          <div class="item-container" [class.locked]="!level.isUnlocked">
            <div class="stars-container">
              <span class="star"
                [class.earned]="level.progress && level.progress.stars && level.progress.stars >= 1"></span>
              <span class="star"
                [class.earned]="level.progress && level.progress.stars && level.progress.stars >= 2"></span>
              <span class="star"
                [class.earned]="level.progress && level.progress.stars && level.progress.stars >= 3"></span>
            </div>
            <div class="level-number">
              {{ level.isUnlocked ? level.orderId : ' ' }}
            </div>
          </div>
        </ng-container>

        <ng-template #placeholderCard>
          <div class="placeholder"></div>
        </ng-template>
      </div>
    </div>
    <ng-template #loading><div class="level-grid"></div></ng-template>

    <!-- Next Page Button -->
    <button class="arrow-button right" (click)="nextPage()"
      [disabled]="!hasMoreLevels"></button>
  </div>
</div>
