@import url("https://unpkg.com/primeflex@latest/primeflex.css");
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family:'YourGameFont'; /* This is the NAME you will use in your CSS */
  src: url('/ModernDos.ttf') format('truetype');
  font-weight: normal; /* Specifies this file is for normal weight text */
  font-style: normal;
}
:root {
  --bg-image: url('/level-select-bg.png');
  --arrow-left: url('/left-arrow.png');
  --arrow-right: url('/right-arrow.png');
  --card-unlocked: url('/level-card-unlocked.png');
  --card-locked: url('/level-card-locked.png');
  --card-placeholder: url('/level-card-placeholder.png');
  --star-earned: url('/star-yellow.png');
  --star-empty: url('/star-blue.png');
}
